# Project exclude paths
/node_modules/
/spec2-master/dist/
/spec2-master/node_modules/@babel/core/src/config/files/
/spec2-master/node_modules/@babel/highlight/lib/
/spec2-master/node_modules/@babel/plugin-proposal-class-properties/lib/
/spec2-master/node_modules/@babel/plugin-proposal-optional-catch-binding/lib/
/spec2-master/node_modules/@babel/plugin-syntax-class-static-block/lib/
/spec2-master/node_modules/@babel/plugin-syntax-json-strings/lib/
/spec2-master/node_modules/@babel/plugin-syntax-optional-catch-binding/lib/
/spec2-master/node_modules/@babel/plugin-transform-destructuring/lib/
/spec2-master/node_modules/@babel/plugin-transform-reserved-words/lib/
/spec2-master/node_modules/@babel/preset-modules/lib/plugins/transform-edge-function-name/
/spec2-master/node_modules/@babel/preset-modules/lib/plugins/transform-jsx-spread/
/spec2-master/node_modules/@hapi/bourne/lib/
/spec2-master/node_modules/@hapi/joi/lib/types/number/
/spec2-master/node_modules/@jridgewell/trace-mapping/node_modules/@jridgewell/sourcemap-codec/dist/types/
/spec2-master/node_modules/@jridgewell/trace-mapping/node_modules/@jridgewell/sourcemap-codec/src/
/spec2-master/node_modules/@nodelib/fs.stat/out/providers/
/spec2-master/node_modules/@vue/babel-helper-vue-jsx-merge-props/dist/
/spec2-master/node_modules/@webassemblyjs/ast/lib/transform/wast-identifier-to-index/
/spec2-master/node_modules/@webassemblyjs/floating-point-hex-parser/esm/
/spec2-master/node_modules/@webassemblyjs/helper-fsm/esm/
/spec2-master/node_modules/@webassemblyjs/ieee754/esm/
/spec2-master/node_modules/@webassemblyjs/ieee754/src/
/spec2-master/node_modules/@webassemblyjs/wast-printer/esm/
/spec2-master/node_modules/array-buffer-byte-length/test/
/spec2-master/node_modules/async/dist/
/spec2-master/node_modules/axios/
/spec2-master/node_modules/babel-runtime/core-js/json/
/spec2-master/node_modules/babel-runtime/node_modules/core-js/library/fn/dom-collections/
/spec2-master/node_modules/clipboardy/fallbacks/linux/
/spec2-master/node_modules/css-loader/node_modules/json5/dist/
/spec2-master/node_modules/cssnano-util-same-parent/dist/
/spec2-master/node_modules/deep-equal/example/
/spec2-master/node_modules/default-gateway/node_modules/which/bin/
/spec2-master/node_modules/easy-stack/example/
/spec2-master/node_modules/element-ui/packages/backtop/src/
/spec2-master/node_modules/element-ui/packages/badge/src/
/spec2-master/node_modules/element-ui/packages/dialog/src/
/spec2-master/node_modules/element-ui/packages/header/src/
/spec2-master/node_modules/element-ui/packages/link/
/spec2-master/node_modules/element-ui/packages/page-header/src/
/spec2-master/node_modules/element-ui/packages/row/src/
/spec2-master/node_modules/element-ui/packages/tooltip/src/
/spec2-master/node_modules/es-to-primitive/.github/
/spec2-master/node_modules/for-each/test/
/spec2-master/node_modules/fs-extra/lib/move/
/spec2-master/node_modules/has/test/
/spec2-master/node_modules/hmac-drbg/test/fixtures/
/spec2-master/node_modules/hpack.js/bin/
/spec2-master/node_modules/http-deceiver/test/
/spec2-master/node_modules/import-local/fixtures/
/spec2-master/node_modules/is-core-module/test/
/spec2-master/node_modules/is-shared-array-buffer/test/
/spec2-master/node_modules/js-yaml/dist/
/spec2-master/node_modules/loglevel/.github/
/spec2-master/node_modules/minimalistic-crypto-utils/lib/
/spec2-master/node_modules/object-inspect/.github/
/spec2-master/node_modules/parse5/lib/tree-adapters/
/spec2-master/node_modules/postcss-modules-values/src/
/spec2-master/node_modules/postcss-normalize-url/dist/
/spec2-master/node_modules/postcss-reduce-initial/dist/
/spec2-master/node_modules/proxy-from-env/
/spec2-master/node_modules/regjsparser/node_modules/jsesc/man/
/spec2-master/node_modules/resolve/test/module_dir/ymodules/
/spec2-master/node_modules/resolve/test/precedence/bbb/
/spec2-master/node_modules/safe-array-concat/.github/
/spec2-master/node_modules/safe-regex-test/.github/
/spec2-master/node_modules/terser-webpack-plugin/node_modules/semver/bin/
/spec2-master/node_modules/throttle-debounce/test/
/spec2-master/node_modules/typed-array-length/.github/
/spec2-master/node_modules/unique-slug/test/
/spec2-master/node_modules/vm-browserify/test/
/spec2-master/node_modules/wcwidth/test/
/spec2-master/node_modules/which-boxed-primitive/.github/
/spec2-master/node_modules/worker-farm/lib/child/
/spec2-master/node_modules/yargs/node_modules/y18n/build/lib/platform-shims/